.container {
  height: 100%;
  overflow-y: auto;
  padding: var(--space-md);
}

.emptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--text-dim);
}

.emptyContent {
  color: var(--text-dim);
  text-align: center;
}
